.login-container {
  display: flex;
  height: 100vh;
    background: linear-gradient(
    135deg,
    var(--color-secondary),
    var(--color-primary)
  );
}

.login-left {
  flex: 1;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.left-content {
  max-width: 450px;
  z-index: 1;
}

.left-content h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
}

.left-content span {
  color: var(--color-black);
}

.left-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0.95;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* efeito glass */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.form-container {
  background: var(--color-white);
  padding: 3rem;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease;
}

.form-container h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: var(--color-black);
  text-align: center;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.login-links a {
  font-size: 0.9rem;
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.2s;
}

.login-links a:hover {
  color: var(--color-tertiary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}